@model WebApplication3.Models.VacationViewModel
@{
    ViewBag.Title = "Add your vacation";
}

<div class="jumbotron">
    <h2>Add your vacation</h2>
    <p class="lead"></p>
    
</div>

<div class="row">
    @using (Html.BeginForm("Add"))
    { 
    
        <div class="col-md-3">
            <p>
                @Html.LabelFor(m => m.StartsAt)

                <div class='input-group date' id='datetimepicker1'>
                    @Html.TextBox("StartsAt", DateTime.Today.ToString("yyyy/MM/dd"), new { @class = "form-control" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </p>
            <p>
                @Html.LabelFor(m => m.EndsAt)
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBox("EndsAt", DateTime.Today.ToString("yyyy/MM/dd"), new { @class = "form-control" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </p>

            <p>
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
            </p>
            <p>
                <input type="submit" value="Add" />
            </p>
        </div>

    }
    <script type="text/javascript">
        window.onload = function () {
            $('#datetimepicker1').datetimepicker({ format: "YYYY/MM/DD", useCurrent: true, defaultDate: Date.now()});
            $("#datetimepicker2").datetimepicker({ format: "YYYY/MM/DD", useCurrent: true, defaultDate: Date.now() });
            };
    </script>
</div>